* {
  box-sizing: border-box;
  font-family: Open Sans;
}

body, html {
  margin: 0px;
  paddings: 0px;
}

body {
  font-family: Open Sans;
}

#navigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #8542DD;
  overflow: hidden;
  color: #fff;
}

#navigationBar li {
  float: left;
  color: #fff;
  float: center;
}

#navigationBar li a{
  text-align: center;
  display: block;
  color: #fff;
  font-family: Open Sans;
  padding: 10px 25px;
  font-size: 14pt;
}

#navigationBar li a:hover {
  background: #5b0693;
}

#mainContainer {
 display: table;
 margin-right: auto;
 margin-left: auto;
}

/* reference:https://www.w3schools.com/css/css_align.asp */
/* reference: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */

#heroBanner {
  background-image: url("SUCKS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120px;
}

#heroBannerimage {
  background-image: url('sideways.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 330px;
  background-size: cover;
}

.contentSectionContainer {
  display: flex;
}

#table1 {
  border-collapse: separate;
  border-spacing: 0px, 0px;
  align-items: center;
  margin-left: 0px;
}

#columnContainer1 {
  box-sizing: border-box;
  color: #57068c;
  border: 5px;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px;
  flex: 50%
  padding: 10px;
  height: flex;
  width: 500px;
}

#columnContainer1 a {
  text-align: center;
  color: #57068c;
}

#columnContainer1 p {
  color: grey;
  font-size: 15pt;
}

.button {
  background-color: #fff;
  color: rgb(135, 57, 223);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid rgb(135, 57, 223);
}

#columnContainer2 {
  box-sizing: border-box;
  color: #57068c;
  border: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  flex: 50%
  padding: 10px;
  height: flex;
  width: 500px;
}

#columnContainer2 p{
  color: grey;
  font-size: 15pt;
  font-style: italic;
}
